* {
    margin: 0;
    padding: 0;
}
.image-cat {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}
header,
footer {
    width: 100%;
    height: 150px;
    background-color: #5CBAFB;
    color: white;
}
h1,
h2 {
    text-align: center;
}
.image-wide {
    display: block;
    height: 300px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.image-tall {
    display: block;
    height: 200px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
ul {
    padding-left: 40px;
    font-size: 20px;
}
p {
    text-align: center;
    font-size: 30px;
}
.card {
    width: 80%;
    margin: 40px auto;
    border: 5px solid gray;
    box-shadow: 5px 10px #888888;
}

.image-PR {
    outline: black 1px;
    height: 300px;
    width: 600px;
}
.image-merge {
    height: 200px;
    width: 400px;
}